<table>
  <tbody>
    <tr>
      <th>Sentry DSN</th>
      <td>
        <input type="text" id="dsn" 
                           value="<%= settings['dsn'] %>" 
                           name="settings[dsn]" >
      </td>
    </tr>
  </tbody>
</table>
<p><b>We don't initialize sentry if you don't provide a DSN. Therefore, please restart redmine after changing settings here!</b></p>